xsd/badge_scanned.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="message">
    <xs:complexType><xs:sequence>
      <xs:element name="header">
        <xs:complexType><xs:sequence>
          <xs:element name="message_id" type="UUIDType"/>
          <xs:element name="timestamp"  type="xs:dateTime"/>
          <xs:element name="source"><xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="iot_gateway"/>
            <xs:enumeration value="kassa"/></xs:restriction></xs:simpleType></xs:element>
          <xs:element name="type"><xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="badge_scanned"/></xs:restriction></xs:simpleType></xs:element>
          <xs:element name="version"><xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="2.0"/></xs:restriction></xs:simpleType></xs:element>
        </xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name="body">
        <xs:complexType><xs:sequence>
          <xs:choice>
            <xs:element name="badge_id"      type="xs:string"/>
            <xs:element name="identity_uuid" type="UUIDType"/>
          </xs:choice>
          <xs:element name="location">
            <xs:simpleType><xs:restriction base="xs:string">
              <xs:enumeration value="entrance"/>
              <xs:enumeration value="bar"/>
              <xs:enumeration value="main_bar"/>
              <xs:enumeration value="session"/>
            </xs:restriction></xs:simpleType>
          </xs:element>
          <xs:element name="scanned_at" type="xs:dateTime"/>
        </xs:sequence></xs:complexType>
      </xs:element>
    </xs:sequence></xs:complexType>
  </xs:element>
</xs:schema>