xsd/calendar_invite_confirmed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: calendar_invite_confirmed
  Direction : Planning → Frontend
              (exchange: planning.exchange, routing key: planning.calendar.invite.confirmed,
               queue:    frontend.planning.calendar.invite.confirmed)
  Receiver  : CalendarInviteConfirmedReceiver
  Version   : 1.0
  Namespace : urn:integration:planning:v1
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:integration:planning:v1"
    targetNamespace="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="calendar.invite.confirmed"/>
              <xs:element name="version"        type="xs:string" minOccurs="0"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="session_id"          type="xs:string"/>
              <xs:element name="original_message_id" type="xs:string"/>
              <xs:element name="status">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="confirmed"/>
                    <xs:enumeration value="failed"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ics_url" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
