xsd/company_invite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: company_invite
  Direction : Frontend -> CRM (queue: crm.incoming)
  Sender    : CompanyInvitationSender
  Version   : 2.0
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id" type="xs:string"/>
              <xs:element name="timestamp" type="xs:dateTime"/>
              <xs:element name="source" type="xs:string" fixed="frontend"/>
              <xs:element name="type" type="xs:string" fixed="company_invite"/>
              <xs:element name="version" type="xs:string" fixed="2.0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="invitation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="invitee_email" type="xs:string"/>
                    <xs:element name="inviter_user_id" type="xs:string"/>
                    <xs:element name="company_id" type="xs:string" minOccurs="0"/>
                    <xs:element name="company_name" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
