xsd/event_ended.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: event_ended
  Direction : Frontend → Planning (queue: event.ended)
  Sender    : EventEndedSender
  Version   : 2.0
  Namespace : none (v2.0 standard — geen xmlns op <message>)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="version"        type="xs:string" fixed="2.0"/>
              <xs:element name="type"           type="xs:string" fixed="event_ended"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="session_id" type="xs:string"/>
              <xs:element name="ended_at"   type="xs:dateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
