xsd/heartbeat.frontend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: heartbeat
  Direction : Frontend → Monitoring (queue: heartbeat)
  Version   : 2.0
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id" type="xs:string"/>
              <xs:element name="timestamp"  type="xs:dateTime"/>
              <xs:element name="source"     type="xs:string"/>
              <xs:element name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="heartbeat"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="version">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="2.0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="status">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="online"/>
                    <xs:enumeration value="degraded"/>
                    <xs:enumeration value="offline"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
