xsd/heartbeat.frontend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: heartbeat  (sent by Frontend)
  Direction : Frontend → Monitoring (queue / exchange: heartbeat or monitoring.elastic)
  Version   : 1.0
  Namespace : urn:integration:planning:v1

  The Frontend publishes a periodic heartbeat so the Monitoring system (Elastic)
  can detect when the Drupal application goes silent. The body carries a status
  field ("alive") and an optional details string for extra diagnostic context.

  NOTE: No PHP sender class exists in this repository for the heartbeat — it is
  triggered externally (cron / scheduler) or by another system component.
  This XSD describes the expected envelope based on the XML/XSD standard document.
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:integration:planning:v1"
    targetNamespace="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="receiver"       type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="heartbeat"/>
              <xs:element name="version"        type="xs:string" fixed="1.0"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <!-- "alive" is the expected value during normal operation -->
              <xs:element name="status">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="alive"/>
                    <xs:enumeration value="degraded"/>
                    <xs:enumeration value="error"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <!-- Optional free-text diagnostic message -->
              <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
