xsd/new_registration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: new_registration
  Direction : Frontend → CRM (queue: crm.incoming)
  Sender    : NewRegistrationSender
  Version   : 2.0

  Header order matches NewRegistrationSender.php output:
  message_id → correlation_id → timestamp → source → type → version

  Body order: session_id (optional) first, then customer wrapper.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="correlation_id" type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="new_registration"/>
              <xs:element name="version"        type="xs:string" fixed="2.0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="session_id" type="xs:string" minOccurs="0"/>

              <xs:element name="customer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="user_id" type="xs:string"/>
                    <xs:element name="email"   type="xs:string"/>
                    <xs:element name="type" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="private"/>
                          <xs:enumeration value="company"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="is_company_linked" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="true"/>
                          <xs:enumeration value="false"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="vat_number"    type="xs:string" minOccurs="0"/>
                    <xs:element name="date_of_birth" type="xs:string"/>
                    <xs:element name="contact">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="first_name" type="xs:string"/>
                          <xs:element name="last_name"  type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="address"    type="xs:string" minOccurs="0"/>
                    <xs:element name="company_id" type="xs:string" minOccurs="0"/>
                    <xs:element name="registration_fee" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="amount" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="currency" type="xs:string" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="status" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="unpaid"/>
                                <xs:enumeration value="paid"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
