xsd/payment_registered_frontend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: payment_registered (Frontend → Facturatie)
  Direction : Frontend → Facturatie (queue: facturatie.incoming)
  Sender    : PaymentRegisteredSender
  Version   : 2.0
  Contract  : §11.5
  Note      : payment_registered.xsd covers CRM → Frontend (receiver). This file
              covers the Frontend → Facturatie sender direction.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="UUIDType"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="frontend"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="payment_registered"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="version">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="2.0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="correlation_id" type="UUIDType" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="identity_uuid" type="UUIDType" minOccurs="0"/>
              <xs:element name="invoice">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id"           type="xs:string" minOccurs="0"/>
                    <xs:element name="amount_paid">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="currency" type="xs:string" fixed="eur" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="status">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="paid"/>
                          <xs:enumeration value="pending"/>
                          <xs:enumeration value="cancelled"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="due_date" type="xs:date" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="payment_context">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="registration"/>
                    <xs:enumeration value="consumption"/>
                    <xs:enumeration value="online_invoice"/>
                    <xs:enumeration value="session_registration"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="transaction" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="payment_method">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="company_link"/>
                          <xs:enumeration value="on_site"/>
                          <xs:enumeration value="online"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
