xsd/send_mailing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="message">
    <xs:complexType><xs:sequence>
      <xs:element name="header">
        <xs:complexType><xs:sequence>
          <xs:element name="message_id" type="UUIDType"/>
          <xs:element name="timestamp"  type="xs:dateTime"/>
          <xs:element name="source"><xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="frontend"/>
            <xs:enumeration value="crm"/>
            <xs:enumeration value="facturatie"/></xs:restriction></xs:simpleType></xs:element>
          <xs:element name="type"><xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="send_mailing"/></xs:restriction></xs:simpleType></xs:element>
          <xs:element name="version"><xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="2.0"/></xs:restriction></xs:simpleType></xs:element>
          <xs:element name="correlation_id" type="UUIDType"/>
        </xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name="body">
        <xs:complexType><xs:sequence>
          <xs:element name="campaign_id" type="xs:string"/>
          <xs:element name="subject"     type="xs:string"/>
          <xs:element name="mail_type">
            <xs:simpleType><xs:restriction base="xs:string">
              <xs:enumeration value="registration_confirmation"/>
              <xs:enumeration value="payment_confirmation"/>
              <xs:enumeration value="invoice_ready"/>
              <xs:enumeration value="session_update"/>
              <xs:enumeration value="general_announcement"/>
            </xs:restriction></xs:simpleType>
          </xs:element>
          <xs:element name="recipients">
            <xs:complexType><xs:sequence>
              <xs:element name="recipient" maxOccurs="unbounded">
                <xs:complexType><xs:sequence>
                  <xs:element name="email"         type="xs:string"/>
                  <xs:element name="identity_uuid" type="UUIDType"/>
                  <xs:element name="contact">
                    <xs:complexType><xs:sequence>
                      <xs:element name="first_name" type="xs:string"/>
                      <xs:element name="last_name"  type="xs:string"/>
                    </xs:sequence></xs:complexType>
                  </xs:element>
                </xs:sequence></xs:complexType>
              </xs:element>
            </xs:sequence></xs:complexType>
          </xs:element>
          <xs:element name="template_data" type="xs:string" minOccurs="0"/>
          <xs:element name="body_html" type="xs:string" minOccurs="0"/>
          <xs:element name="attachment" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="filename"     type="xs:string"/>
                <xs:element name="content_type" type="xs:string"/>
                <xs:element name="base64_data"  type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence></xs:complexType>
      </xs:element>
    </xs:sequence></xs:complexType>
  </xs:element>
</xs:schema>
