xsd/session_deleted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: session.deleted  (received by Frontend from Planning)
  Direction : Planning → Frontend
              (exchange: planning.exchange, routing key: planning.session.deleted,
               queue:    frontend.planning.session.deleted)
  Receiver  : SessionDeletedReceiver
  Namespace : urn:integration:planning:v1
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:integration:planning:v1"
    targetNamespace="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="session.deleted"/>
              <xs:element name="version"        type="xs:string"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="session_id" type="xs:string"/>
              <xs:element name="reason"     type="xs:string" minOccurs="0"/>
              <xs:element name="deleted_by" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
