xsd/session_view_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: session_view_request
  Direction : Frontend → Planning
              (exchange: planning.exchange, routing key: planning.session.view.request)
  Sender    : SessionViewRequestSender
  Version   : 1.0
  Namespace : urn:integration:planning:v1
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:integration:planning:v1"
    targetNamespace="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="session_view_request"/>
              <xs:element name="version"        type="xs:string" minOccurs="0"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <!-- optional: omit to request all sessions -->
              <xs:element name="session_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
