xsd/session_update_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: session_update_request  (sent by Frontend to Planning)
  Direction : Frontend → Planning
              (exchange: planning.exchange, routing key: frontend.to.planning.session.update)
  Sender    : SessionUpdateRequestSender
  Version   : 2.0

  Frontend sends this when an admin updates a session.
  Planning processes the request and responds with a session_updated event.

  Required body fields: session_id, title, start_datetime, end_datetime
  Optional body fields: location, session_type, status, max_attendees
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="session_update_request"/>
              <xs:element name="version"        type="xs:string" fixed="2.0"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="session_id"     type="xs:string"/>
              <xs:element name="title"          type="xs:string"/>
              <xs:element name="start_datetime" type="xs:dateTime"/>
              <xs:element name="end_datetime"   type="xs:dateTime"/>
              <xs:element name="location"       type="xs:string"            minOccurs="0"/>
              <xs:element name="session_type"   type="xs:string"            minOccurs="0"/>
              <xs:element name="status"         type="xs:string"            minOccurs="0"/>
              <xs:element name="max_attendees"  type="xs:nonNegativeInteger" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
