xsd/session_delete_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: session_delete_request  (sent by Frontend to Planning)
  Direction : Frontend → Planning
              (exchange: planning.exchange, routing key: planning.session.delete.request)
  Sender    : SessionDeleteRequestSender
  Namespace : urn:integration:planning:v1

  Frontend sends this when an admin deletes a session.
  Planning processes the request and responds with a session_deleted event.

  Required body fields: session_id
  Optional body fields: reason
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:integration:planning:v1"
    targetNamespace="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="session_delete_request"/>
              <xs:element name="version"        type="xs:string" minOccurs="0"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="session_id" type="xs:string"/>
              <xs:element name="reason"     type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
