xsd/session_view_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: session_view_response  (received by Frontend from Planning)
  Direction : Planning → Frontend
              (exchange: planning.exchange, routing key: planning.session.view.response,
               queue:    frontend.planning.session.view.response)
  Receiver  : SessionViewResponseReceiver
  Namespace : urn:integration:planning:v1

  The body carries a request_message_id, status, session_count and an optional <sessions> list.
  When status = "not_found", <sessions> is absent.
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:integration:planning:v1"
    targetNamespace="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <!-- Reusable session entry type -->
  <xs:complexType name="SessionType">
    <xs:sequence>
      <xs:element name="session_id"        type="xs:string"/>
      <xs:element name="title"             type="xs:string" minOccurs="0"/>
      <xs:element name="start_datetime"    type="xs:string" minOccurs="0"/>
      <xs:element name="end_datetime"      type="xs:string" minOccurs="0"/>
      <xs:element name="location"          type="xs:string" minOccurs="0"/>
      <xs:element name="session_type"      type="xs:string" minOccurs="0"/>
      <xs:element name="status"            type="xs:string" minOccurs="0"/>
      <xs:element name="max_attendees"     type="xs:nonNegativeInteger" minOccurs="0"/>
      <xs:element name="current_attendees" type="xs:nonNegativeInteger" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="session_view_response"/>
              <xs:element name="version"        type="xs:string" minOccurs="0"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="request_message_id"   type="xs:string" minOccurs="0"/>
              <xs:element name="requested_session_id" type="xs:string" minOccurs="0"/>
              <!-- "not_found" | "ok" -->
              <xs:element name="status" type="xs:string"/>
              <xs:element name="session_count" type="xs:nonNegativeInteger" minOccurs="0"/>
              <xs:element name="sessions" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="session" type="tns:SessionType"
                                minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
