xsd/user_checkin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: user.checkin
  Direction : Frontend → Monitoring (queue: user.checkin)
  Sender    : UserCheckinSender
  Version   : 1.0
  Namespace : urn:integration:planning:v1
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:integration:planning:v1"
    targetNamespace="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="receiver"       type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="user.checkin"/>
              <xs:element name="version"        type="xs:string" fixed="1.0"/>
              <xs:element name="correlation_id" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user_id"   type="xs:string"/>
              <xs:element name="badge_id"  type="xs:string"/>
              <!-- body-level timestamp mirrors header timestamp for downstream audit -->
              <xs:element name="timestamp" type="xs:dateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
