xsd/user_registered.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: user_registered
  Direction : Frontend → CRM (queue: crm.incoming)
  Sender    : UserRegisteredSender
  Version   : 2.0
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id" type="xs:string"/>
              <xs:element name="timestamp"  type="xs:dateTime"/>
              <xs:element name="source"     type="xs:string" fixed="frontend"/>
              <xs:element name="type"       type="xs:string" fixed="user_registered"/>
              <xs:element name="version"    type="xs:string" fixed="2.0"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="user_id" type="xs:string"/>
                    <xs:element name="email"   type="xs:string"/>
                    <xs:element name="contact">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="first_name" type="xs:string"/>
                          <xs:element name="last_name"  type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="is_company">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="true"/>
                          <xs:enumeration value="false"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="company" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name"       type="xs:string"/>
                          <xs:element name="vat_number" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="session">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="session_id" type="xs:string"/>
                    <xs:element name="name"       type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="payment_status" type="xs:string" fixed="pending"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
