xsd/user_sessions_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <!--
    user_sessions_response — Planning → Frontend (RPC response)
    Sent by Planning in reply to user_sessions_request.
    Routing key (Frontend): planning.to.frontend.user_sessions_response
    Queue: frontend.planning.user_sessions_response
  -->
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="UUIDType"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="planning"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="user_sessions_response"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="version">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="2.0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <!-- correlation_id matches the request correlation_id -->
              <xs:element name="correlation_id" type="UUIDType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="identity_uuid"  type="UUIDType"/>
              <xs:element name="status">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="ok"/>
                    <xs:enumeration value="not_found"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="session_count"  type="xs:nonNegativeInteger"/>
              <xs:element name="sessions"       minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="session" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="session_id"    type="xs:string"/>
                          <xs:element name="title"         type="xs:string"/>
                          <xs:element name="description"   type="xs:string"  minOccurs="0"/>
                          <xs:element name="date"          type="xs:dateTime"/>
                          <xs:element name="end_date"      type="xs:dateTime" minOccurs="0"/>
                          <xs:element name="location"      type="xs:string"  minOccurs="0"/>
                          <xs:element name="session_type"  type="xs:string"  minOccurs="0"/>
                          <xs:element name="capacity"      type="xs:positiveInteger" minOccurs="0"/>
                          <xs:element name="enrolled_count" type="xs:nonNegativeInteger" minOccurs="0"/>
                          <xs:element name="status"        type="xs:string"  minOccurs="0"/>
                          <xs:element name="speaker" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name"         type="xs:string"/>
                                <xs:element name="bio"          type="xs:string" minOccurs="0"/>
                                <xs:element name="organisation" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
