xsd/user_deleted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: user_deleted
  Direction : Frontend → CRM (queue: crm.incoming)
  Sender    : UserUnregisteredSender
  Version   : 2.0
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id" type="xs:string"/>
              <xs:element name="timestamp"  type="xs:dateTime"/>
              <xs:element name="source"     type="xs:string" fixed="frontend"/>
              <xs:element name="type"       type="xs:string" fixed="user_deleted"/>
              <xs:element name="version"    type="xs:string" fixed="2.0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="identity_uuid" type="xs:string"/>
              <xs:element name="email"         type="xs:string"/>
              <xs:element name="reason"        type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
