xsd/user_unregistered.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: user.unregistered
  Direction : Frontend → CRM / Planning / Mailing
              (queues: crm.salesforce, planning.outlook, mailing.sendgrid)
  Sender    : UserUnregisteredSender
  Version   : 1.0
  Namespace : urn:integration:planning:v1
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:integration:planning:v1"
    targetNamespace="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <!-- receiver contains space-separated list of all target systems -->
              <xs:element name="receiver"       type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="user.unregistered"/>
              <xs:element name="version"        type="xs:string" fixed="1.0"/>
              <xs:element name="correlation_id" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user_id"    type="xs:string"/>
              <xs:element name="session_id" type="xs:string"/>
              <xs:element name="timestamp"  type="xs:dateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
