xsd/user_updated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: user_updated
  Direction : Frontend → CRM (queue: crm.incoming)
  Sender    : UserUpdatedSender
  Version   : 2.0
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id" type="xs:string"/>
              <xs:element name="timestamp"  type="xs:dateTime"/>
              <xs:element name="source"     type="xs:string" fixed="frontend"/>
              <xs:element name="type"       type="xs:string" fixed="user_updated"/>
              <xs:element name="version"    type="xs:string" fixed="2.0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="identity_uuid"  type="xs:string"/>
                    <xs:element name="email"          type="xs:string"/>
                    <xs:element name="date_of_birth"  type="xs:date" minOccurs="0"/>
                    <xs:element name="contact">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="first_name" type="xs:string"/>
                          <xs:element name="last_name"  type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="private"/>
                          <xs:enumeration value="company"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="company_name" type="xs:string" minOccurs="0"/>
                    <xs:element name="vat_number"   type="xs:string" minOccurs="0"/>
                    <xs:element name="company_id"   type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
