xsd/user_created_sender.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: user.created  (sent by Frontend)
  Direction : Frontend → CRM (queue: user.created)
  Sender    : UserCreatedSender
  Version   : 1.0
  Namespace : urn:integration:planning:v1
-->
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:integration:planning:v1"
    targetNamespace="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source"         type="xs:string"/>
              <xs:element name="receiver"       type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="user.created"/>
              <xs:element name="version"        type="xs:string" fixed="1.0"/>
              <xs:element name="correlation_id" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="first_name"  type="xs:string"/>
                    <xs:element name="last_name"   type="xs:string"/>
                    <xs:element name="email"       type="xs:string"/>
                    <xs:element name="is_company">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="true"/>
                          <xs:enumeration value="false"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <!-- company block is present only when is_company = true -->
                    <xs:element name="company" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name"       type="xs:string"/>
                          <xs:element name="vat_number" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
