xsd/vat_validation_error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  XSD: vat_validation_error
  Direction : Facturatie / CRM → Frontend (queue: vat.validation.error)
  Receiver  : VatValidationErrorReceiver
  No target namespace.

  INTENTIONAL: <header> is optional.
  By the same pattern as badge_scanned and payment_registered, Kassa/Facturatie
  systems publish minimal envelopes without a header block.
  VatValidationErrorReceiver only reads body/user_id, body/vat_number,
  and body/error_message.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <!-- header is absent in Kassa/Facturatie messages; kept optional for forward compatibility -->
        <xs:element name="header" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string" minOccurs="0"/>
              <xs:element name="timestamp"      type="xs:dateTime" minOccurs="0"/>
              <xs:element name="source"         type="xs:string" minOccurs="0"/>
              <xs:element name="type"           type="xs:string" minOccurs="0"/>
              <xs:element name="version"        type="xs:string" minOccurs="0"/>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user_id"       type="xs:string"/>
              <xs:element name="vat_number"    type="xs:string"/>
              <xs:element name="error_message" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
