xsd/wallet_topup_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="message">
    <xs:complexType><xs:sequence>
      <xs:element name="header">
        <xs:complexType><xs:sequence>
          <xs:element name="message_id" type="UUIDType"/>
          <xs:element name="timestamp"  type="xs:dateTime"/>
          <xs:element name="source"     type="xs:string" fixed="frontend"/>
          <xs:element name="type"       type="xs:string" fixed="wallet_topup_request"/>
          <xs:element name="version"    type="xs:string" fixed="2.0"/>
        </xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name="body">
        <xs:complexType><xs:sequence>
          <xs:element name="identity_uuid" type="UUIDType"/>
          <xs:element name="topup_amount">
            <xs:complexType><xs:simpleContent><xs:extension base="xs:decimal">
              <xs:attribute name="currency" type="xs:string" fixed="eur" use="required"/>
            </xs:extension></xs:simpleContent></xs:complexType>
          </xs:element>
          <xs:element name="transaction_id" type="xs:string"/>
        </xs:sequence></xs:complexType>
      </xs:element>
    </xs:sequence></xs:complexType>
  </xs:element>
</xs:schema>